<section class="w-full md:flex md:px-20 md:box-border bg-white dark:bg-black">
  <div class="w-full bg-board bg-cover bg-center py-20 md:py-24 text-center mb-3.5 md:mb-0 md:mr-2">
    <h2 class="text-white font-body font-bold text-base md:text-2xl">Shop Boostep Boards</h2>
    <p class="text-white">In stock</p>
  </div>
  <div class="w-full bg-revs bg-cover bg-center py-20 md:py-24 text-center">
    <h2 class="text-white font-body font-bold text-base md:text-2xl">Shop Boostep Boards</h2>
    <p class="text-white">In stock</p>
  </div>
</section>

<section class="w-full font-body font-bold">
  <h2 class="text-center my-10 text-3xl">Boosted Revs</h2>
  <div class="md:flex justify-between text-center text-white ">
    <div class="bg-steal bg-cover bg-center w-full py-20 md:py-24">
      <h3>Shop boosted Stealth</h3>
      <p class="uppercase">in stock</p>
    </div>
    <div class="bg-plus bg-cover bg-center w-full py-20 md:py-24">
      <h3>Shop boosted plus</h3>
      <p class="uppercase">in stock</p>
    </div>
    <div class="bg-mini bg-cover bg-center w-full py-20 md:py-24">
      <h3>Shop boosted mini</h3>
      <p class="uppercase">in stock</p>
    </div>
  </div>
</section>

<section class="w-full py-8 px-14">
  <div class="w-full md:w-1/2 inline-block p-2">
    <iframe class="w-full" src="https://www.youtube.com/embed/78bXV1ZqQWI" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="w-full md:w-1/2 inline-block p-2">
    <iframe class="w-full" src="https://www.youtube.com/embed/oAQxk9dOJ8k" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>