<section class="w-full md:flex md:px-20 md:mt-2 md:box-border">
  <div class="w-full bg-board bg-cover bg-center py-20 md:py-24 text-center mb-3.5 md:mb-0 md:mr-2">
    <h2 class="text-white font-body font-bold text-base md:text-2xl">Shop Boostep Boards</h2>
    <p class="text-white">In stock</p>
  </div>
  <div class="w-full bg-revs bg-cover bg-center py-20 md:py-24 text-center">
    <h2 class="text-white font-body font-bold text-base md:text-2xl">Shop Boostep Boards</h2>
    <p class="text-white">In stock</p>
  </div>
</section>
